@model ToDoItem
@{
    Layout = null;
}
<h1>ToDo Edit</h1>

<form action="/todo/Update" method="post">

    <input type="text" name="Title" value="@Model.Title"/>
    
    @Html.HiddenFor(model => model.Id)

    <input type="submit" value="Save"/>
</form>


<p>@Html.ActionLink("Cancel", "ToDoIndex")</p>